@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: #e8e8e8 !important;
  max-width: 100%;
  overflow-x: hidden;
}

#page-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  min-height: 100vh;
}

#anf-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: transparent;
  padding: 0px;
  margin: auto;
}

#anf-top-text-container,
#anf-bottom-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  text-align: center;
  height: 75px;
  color: #0c0e24;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

#anf-top-text-container {
  font-size: 1.5rem;
}

#anf-bottom-text-container {
  font-size: 1rem;
  margin-top: -45px;
}

#anf-top-text-container span,
#anf-bottom-text-container span {
  position: relative;
  display: block;
}

#anf-top-text-a {
  top: 50px;
  left: 20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#anf-top-text-d {
  top: 22px;
  left: 2px;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

#anf-top-text-v {
  top: -2px;
  left: -10px;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

#anf-top-text-e1 {
  top: -16px;
  left: -6px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#anf-top-text-n {
  top: -18px;
  left: -2px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#anf-top-text-t {
  top: -16px;
  left: 4px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

#anf-top-text-u {
  top: -2px;
  left: 8px;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

#anf-top-text-r {
  top: 20px;
  left: -2px;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

#anf-top-text-e2 {
  top: 50px;
  left: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#anf-bottom-text-n {
  top: -50px;
  left: 18px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#anf-bottom-text-i {
  top: -34px;
  left: 6px;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

#anf-bottom-text-a1 {
  top: -20px;
  left: 0px;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

#anf-bottom-text-g {
  top: -8px;
  left: -4px;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

#anf-bottom-text-a2 {
  top: -2px;
  left: -4px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

#anf-bottom-text-r {
  top: 0px;
  left: -6px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#anf-bottom-text-a3 {
  top: 0px;
  left: -8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#anf-bottom-text-f {
  top: -2px;
  left: 0px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#anf-bottom-text-a4 {
  top: -8px;
  left: 0px;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
}

#anf-bottom-text-l1 {
  top: -20px;
  left: 0px;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

#anf-bottom-text-l2 {
  top: -34px;
  left: -6px;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

#anf-bottom-text-s {
  top: -50px;
  left: -18px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#anf-center-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  height: 225px;
  width: 150px;
  margin: auto;
  margin-top: -45px;
}

#anf-container-left-line,
#anf-container-right-line {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: block;
  position: relative;
  top: 36px;
  height: 80px;
  width: 2px;
  background-color: #0c0e24;
  margin: auto;
}

#anf-container-left-line {
  left: 2px;
  margin-left: 0px;
}

#anf-container-right-line {
  margin-right: 0px;
}

#anf-center-divide-line {
  position: relative;
  height: 1px;
  width: 110px;
  background-color: #0c0e24;
  margin: auto;
  margin-top: -30px;
}
