* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: #161b21 !important;
  max-width: 100%;
  overflow-x: hidden;
  color: white;
}

#page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

#index-diamond-container {
  display: grid;
  margin: auto;
  background-color: #161b21;
}

.triangle {
  --t:1px;
  /* Thickness */
  --c:#f1964f;
  /* Color */
  display: inline-block;
  border: var(--t) solid transparent;
  border-bottom-color: var(--c);
  background: linear-gradient(to bottom left, transparent 49.5%, var(--c) 50% calc(50% + var(--t)), transparent calc(50% + var(--t) + 1px)) right, linear-gradient(to bottom right, transparent 49.5%, var(--c) 50% calc(50% + var(--t)), transparent calc(50% + var(--t) + 1px)) left;
  background-size: 50% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.triangle:before {
  content: "";
  display: block;
  padding-top: 86.6%;
}

.pyramid-shadow {
  grid-column: 1;
  grid-row: 1;
  height: 57px;
  width: 77px;
  margin: auto auto 0px auto;
  z-index: 1;
  --t:22px;
  /* Thickness */
  --c:#161b21;
  /* Color */
  display: inline-block;
  border: var(--t) solid transparent;
  border-bottom-color: var(--c);
  background: linear-gradient(to bottom left, transparent 49.5%, var(--c) 50% calc(50% + var(--t)), transparent calc(50% + var(--t) + 1px)) right, linear-gradient(to bottom right, transparent 49.5%, var(--c) 50% calc(50% + var(--t)), transparent calc(50% + var(--t) + 1px)) left;
  background-size: 50% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.pyramid-shadow:before {
  content: "";
  display: block;
  padding-top: 86.6%;
}

#center-triangle-top {
  grid-column: 1;
  grid-row: 1;
  height: 220px;
  width: 300px;
}

#sun {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  top: 55px;
  height: 65px;
  width: 65px;
  background-color: #f1964f;
  border-radius: 50%;
  margin: auto;
  transition: 500ms;
}

#sun:hover {
  transform: translateY(-25px);
}

#pyramid-1 {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  left: 62px;
  height: 38px;
  width: 52px;
  margin-top: auto;
}

#pyramid-2 {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  height: 60px;
  width: 80px;
  margin: auto auto 0px auto;
  z-index: 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(9, 1px);
  column-gap: 2px;
  row-gap: 6.4px;
}

.pyramid-2-line {
  grid-column: 1;
  height: 1px;
  background-color: #f1964f;
  margin-left: auto;
}

.pyramid-2-line:nth-child(1) {
  width: 4px;
}

.pyramid-2-line:nth-child(2) {
  width: 8px;
}

.pyramid-2-line:nth-child(3) {
  width: 14px;
}

.pyramid-2-line:nth-child(4) {
  width: 18px;
}

.pyramid-2-line:nth-child(5) {
  width: 24px;
}

.pyramid-2-line:nth-child(6) {
  width: 28px;
}

.pyramid-2-line:nth-child(7) {
  width: 34px;
}

#pyramid-3 {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  left: 186px;
  height: 38px;
  width: 52px;
  margin-top: auto;
}

#pyramid-1-shadow {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  left: 62px;
  height: 38px;
  width: 52px;
  margin: 1px auto;
  transform: scaleY(-1);
}

#pyramid-2-shadow {
  grid-column: 1;
  grid-row: 2;
  height: 60px;
  width: 80px;
  margin: 1px auto;
  transform: scaleY(-1);
}

#pyramid-3-shadow {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  left: -62px;
  height: 31px;
  width: 52px;
  margin: 1px auto;
  transform: scaleY(-1);
}

#center-triangle-bottom-line-container {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  position: relative;
  left: -7px;
  grid-template-columns: repeat(16, 10px);
  column-gap: 6.5px;
  margin: 0px auto;
}

.center-triangle-bottom-line {
  grid-row: 1;
  position: relative;
  width: 1px;
  background-color: #f1964f;
  transform: rotate(34deg);
}

.center-triangle-bottom-line:nth-child(1) {
  height: 16px;
}

.center-triangle-bottom-line:nth-child(2) {
  height: 37px;
  top: -2px;
}

.center-triangle-bottom-line:nth-child(3) {
  height: 56px;
  top: -5px;
}

.center-triangle-bottom-line:nth-child(4) {
  height: 75px;
  top: -6px;
}

.center-triangle-bottom-line:nth-child(5) {
  height: 95px;
  top: -8px;
}

.center-triangle-bottom-line:nth-child(6) {
  height: 116px;
  top: -10px;
}

.center-triangle-bottom-line:nth-child(7) {
  height: 134px;
  top: -12px;
}

.center-triangle-bottom-line:nth-child(8) {
  height: 155px;
  top: -14px;
}

.center-triangle-bottom-line:nth-child(9) {
  height: 172px;
  top: -14px;
}

.center-triangle-bottom-line:nth-child(10) {
  height: 193px;
  top: -16px;
}

.center-triangle-bottom-line:nth-child(11) {
  height: 212px;
  top: -19px;
}

.center-triangle-bottom-line:nth-child(12) {
  height: 232px;
  top: -19px;
}

.center-triangle-bottom-line:nth-child(13) {
  height: 250px;
  top: -22px;
}

#center-triangle-bottom {
  grid-column: 1;
  grid-row: 2;
  height: 220px;
  width: 300px;
  transform: scaleY(-1);
}

#pyramid-shadow-bottom {
  grid-column: 1;
  grid-row: 2;
  height: 64px;
  width: 86px;
  transform: scaleY(-1);
  margin-bottom: 33px;
}

#bottom-squiggles-container {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  position: relative;
  top: 60px;
  grid-template-columns: auto;
  grid-template-rows: 12px 12px 12px;
  height: 55px;
  width: 72px;
  margin: auto;
  z-index: 1;
  row-gap: 2px;
}

.bottom-squiggle {
  height: 2px;
  width: 9px;
  background-color: #f1964f;
  margin: auto 0px;
}

.bottom-squiggle-up {
  transform: rotate(-20deg);
}

.bottom-squiggle-down {
  transform: rotate(20deg);
}

.bottom-squiggle-row-1 {
  grid-row: 1;
}

.bottom-squiggle-row-2 {
  grid-row: 2;
}

.bottom-squiggle-row-3 {
  grid-row: 3;
}

.empty-squiggle {
  height: 0px !important;
}

.planet-container {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  position: relative;
  height: min-content;
  width: min-content;
  column-gap: 6px;
}

#left-planets-container {
  top: 144px;
  left: 34px;
}

#right-planets-container {
  top: 148px;
  left: 216px;
}

.planet {
  grid-row: 1;
  border-radius: 50%;
  background-color: #f1964f;
  margin: auto;
  transition: 350ms;
}

.planet:hover {
  transform: scale(1.55);
}

#planet-1 {
  height: 4px;
  width: 4px;
}

#planet-2 {
  height: 8px;
  width: 8px;
  margin-right: 2px;
}

#planet-3 {
  display: grid;
  height: 20px;
  width: 20px;
  border: 1px solid #f1964f;
  background-color: transparent;
}

#planet-3-line {
  position: relative;
  right: 8px;
  height: 1px;
  width: 35px;
  background-color: #f1964f;
  margin: auto;
  transform: rotate(44deg);
}

#planet-4 {
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #f1964f;
}

#planet-5 {
  height: 14px;
  width: 14px;
  margin-left: 4px;
}
/*# sourceMappingURL=global-styles.css.map */