@import './color-palette';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{ 
  box-sizing: border-box; 
  font-family: 'Roboto Slab', serif;
}

html,
body{
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body{
  background-color: $backgroundColor !important;
  max-width: 100%;
  overflow-x: hidden;
}

#page-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

#anf-container{
  grid-column: 1;
  grid-row: 1;
  background-color: transparent;
  padding: 0px;
  margin: auto;
}

// Text (Adventure & Niagara Falls)
  // Containers
    #anf-top-text-container,
    #anf-bottom-text-container{
      display: flex;
      text-transform: uppercase;
      text-align: center;
      height: 75px;
      color: $colorBlack;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

    #anf-top-text-container{ font-size: 1.5rem;}
    #anf-bottom-text-container{ font-size: 1rem; margin-top: -45px;}

    #anf-top-text-container span,
    #anf-bottom-text-container span{ 
      position: relative;
      display: block; 
    }
  // Containers

  // Top Letters (Adventure)
    #anf-top-text-a{  top: 50px; left: 20px; transform: rotate(-90deg); }
    #anf-top-text-d{  top: 22px; left: 2px; transform: rotate(-70deg); }
    #anf-top-text-v{  top: -2px; left: -10px; transform: rotate(-42deg); }
    #anf-top-text-e1{ top: -16px; left: -6px; transform: rotate(-10deg); }
    #anf-top-text-n{  top: -18px; left: -2px; transform: rotate(0deg); }
    #anf-top-text-t{  top: -16px; left: 4px; transform: rotate(10deg); }
    #anf-top-text-u{  top: -2px; left: 8px; transform: rotate(42deg); }
    #anf-top-text-r{  top: 20px; left: -2px; transform: rotate(70deg); }
    #anf-top-text-e2{ top: 50px; left: -20px; transform: rotate(90deg); }
  // Top Letters

  // Bottom Letters (Niagara Falls)
    #anf-bottom-text-n{  top: -50px; left: 18px; transform: rotate(90deg); }
    #anf-bottom-text-i{  top: -34px; left: 6px; transform: rotate(70deg); }
    #anf-bottom-text-a1{ top: -20px; left: 0px; transform: rotate(42deg); }
    #anf-bottom-text-g{  top: -8px; left: -4px; transform: rotate(18deg); }
    #anf-bottom-text-a2{ top: -2px; left: -4px; transform: rotate(10deg); }
    #anf-bottom-text-r{  top: 0px; left: -6px; transform: rotate(0deg); }
    #anf-bottom-text-a3{ top: 0px; left: -8px; transform: rotate(0deg); }
    
    #anf-bottom-text-f{  top: -2px; left: 0px; transform: rotate(-10deg); }
    #anf-bottom-text-a4{ top: -8px; left: 0px; transform: rotate(-18deg); }
    #anf-bottom-text-l1{ top: -20px; left: 0px; transform: rotate(-42deg); }
    #anf-bottom-text-l2{ top: -34px; left: -6px; transform: rotate(-70deg); }
    #anf-bottom-text-s{  top: -50px; left: -18px; transform: rotate(-90deg); }
  // Bottom Letters
// Text


// Outer Container Lines
  #anf-center-container{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr;
    height: 225px;
    width: 150px;
    margin: auto;
    margin-top: -45px;
  }

  #anf-container-left-line,
  #anf-container-right-line{
    grid-column: 1;
    grid-row: 1;
    display: block;
    position: relative;
    // top: 36px;
    height: 80px;
    width: 2px;
    background-color: $colorBlack;
    margin: auto;
  }


  #anf-container-left-line{ 
    left: 2px;
    margin-left: 0px;
  }
  #anf-container-right-line{ 
    margin-right: 0px;
  }
// Outer Container Lines

// Center Imagery
  // Sun Rays
    #anf-sun-rays-container{
      grid-column: 1;
      grid-row: 1;
      position: relative;
      display: grid;
      column-gap: 8px;
      height: min-content;
      margin: auto;
    }
    .anf-sun-ray{
      grid-row: 1;
      position: relative;
      bottom: 60px;
      height: 68px;
      width: 1px;
      background-color: black;
      margin: auto;
      margin-bottom: 0px;
    }
    .anf-sun-ray:nth-child(1){height: 12px; bottom: 55px; left: -2px; transform: rotate(-75deg);}
    .anf-sun-ray:nth-child(2){height: 24px; bottom: 63px; left: -9px; transform: rotate(-52deg);}
    .anf-sun-ray:nth-child(3){height: 58px; bottom: 57px; left: -11px; transform: rotate(-30deg);}
    .anf-sun-ray:nth-child(4){height: 76px; bottom: 60px; left: -11px; transform: rotate(-20deg);}
    .anf-sun-ray:nth-child(5){height: 80px; bottom: 65px; left: -6px; transform: rotate(-12deg);}
    .anf-sun-ray:nth-child(6){height: 81px; bottom: 67px; left: -0px;}
    .anf-sun-ray:nth-child(7){height: 78px; bottom: 68px; left: 5px; transform: rotate(8deg);}
    .anf-sun-ray:nth-child(8){height: 68px; bottom: 69px; left: 11px; transform: rotate(18deg);}
    .anf-sun-ray:nth-child(9){height: 58px; bottom: 60px; left: 12px; transform: rotate(24deg);}
    .anf-sun-ray:nth-child(10){height: 31px; bottom: 60px; left: 9px; transform: rotate(36deg);}
    .anf-sun-ray:nth-child(11){height: 10px; bottom: 59px; left: 5px; transform: rotate(50deg);}
  // Sun Rays

  // Treeline
    #anf-tree-container{
      grid-column: 1;
      grid-row: 1;
      display: grid;
      position: relative;
      top: -6px;
      column-gap: 15px;
      margin: auto;
      // margin-bottom: 30px;
    }
    .anf-tree{
      grid-row: 1;
      display: grid;
      position: relative;
      height: 20px;
      width: 1px;
      background-color: black;
      margin-top: auto;
    }
    .anf-tree:nth-child(2){height: 35px;}
    .anf-tree:nth-child(3){height: 25px}
    .anf-tree:nth-child(4){height: 30px}
    .anf-tree:nth-child(5){height: 35px}
    .anf-tree:nth-child(6){height: 30px}
    .anf-tree:nth-child(7){height: 25px}

    .anf-tree-branch{
      grid-column: 1;
      position: relative;
      right: 3px;
      height: 7px;
      width: 7px;
      border-color: black;
      border-style: solid;
      border-width: 1px 0 0 1px;
      margin: auto;
      transform: rotate(45deg);
    }
    .anf-tree-branch:nth-child(2){top: -2px;}
    .anf-tree-branch:nth-child(3){top: -4px;}
    .anf-tree-branch:nth-child(4){top: -6px;}
    .anf-tree-branch:nth-child(5){top: -8px;}
    .anf-tree-branch:nth-child(6){top: -10px;}
  // Treeline
 
  #anf-center-divide-line{
    grid-column: 1;
    grid-row: 1;
    position: relative;
    top: 12px;
    height: 1px;
    width: 110px; 
    background-color: $colorBlack;
    margin: auto;
    // margin-top: -30px;
  }

  // Waterfall
    #anf-waterfall-container{
      grid-column: 1;
      grid-row: 1;
      position: relative;
      display: grid;
      height: min-content;
      margin: auto;
      margin-bottom: 22px;
    }


    #anf-waterfall-bottom-left{
      --c: 1px;
      grid-column: 1;
      grid-row: 1;
      position: relative;
      right: 1px;
      top: 6px;
      height: 112px;
      width: 98px;
      border: solid var(--c) transparent;
      border-bottom-color: black;
      border-radius: 48%;
      background-origin: border-box;
      transform: rotate(42deg);
    }
    #anf-waterfall-bottom-right{  
      --c: 1px;
      grid-column: 1;
      grid-row: 1;
      position: relative;
      right: -29px;
      top: 69px;
      height: 1px;
      width: 77px;
      border: solid var(--c) transparent;
      border-bottom-color: black;
      border-radius: 50%;
      background-origin: border-box;
      padding-top: 42%;
      transform: rotate(-25deg);
    }
  // Waterfall
// Center Imagery