$backgroundColor: #090c26;

$colorGray: #cdcafc;
$colorOrange1: #fe771c;
$colorPurple: #5e73ff;
$colorRed: #e60000;

$colorOrange2: #fe2719;
$colorLightOrange: #f2a35b;
$colorDarkOrange: #8a0500;

$colorWhite: #eafdff;
$colorOffWhite: #f9dab7;
$colorLightTeal: #6dfefd;